* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: gray; */
}
#tittle {
  font-size: 3rem;
  margin: 4px 0px;
  text-align: center;
}
#controls {
  margin: 20px;
  margin-left: 50vw;
  transform: translateX(-50%);
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 50px;
  gap: 10px;
}
#controls > button {
  padding: 8px 13px;
  background-color: rgb(61, 61, 179);
  border-radius: 18px;
  border: none;
  color: white;
  cursor: pointer;
}

#array-container {
  display: flex;
  align-items: flex-end;
  height: 380px;
  width: 90%;
  border: 1.4px solid #696666;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.barWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  /* background-color: crimson; */
  height: 90%;
  width: 40px;
  padding: 10px;
  margin: 8px;
}

.barHeight {
  background-color: rgb(44, 44, 155);
  /* height: 80px; */
}
.barLabel {
  font-size: 1rem;
  /* color: blueviolet; */
  /* height: 20px; */
}

.sorted {
  background-color: rgb(115, 248, 162);
}

/* .highlight {
  background-color: rgb(210, 78, 78);
} */

.compare,
.highlight {
  background-color: rgb(180, 116, 239);
}

/* custom arr */

#customBarContainer {
  padding: 20px 0;
  /* margin-left: 30%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#customBarContainer > input {
  border: none;
  outline: none;
  font-size: 2rem;
  color: black;
  padding: 0 5px;
  width: 170px;
}
#customBarContainer > span {
  font-size: 2rem;
}
#customBarContainer > button {
  border: none;
  padding: 8px 20px;
  color: white;
  border-radius: 30px;
  background-color: rgb(68, 68, 230);
  cursor: pointer;
}
